html, body, #app, .application {
    height: 100%;
}

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}


.application {
    display: flex;
    /* max-width: 100%;
    max-height: 100%; */
    border: 3px black dashed;
    align-items: center;
} 

.wrapper-header {
    border: 1px dashed darkmagenta;
    width: 100%;
    align-self: flex-start;
    
}

.wrapper-footer {
    border: 1px dashed darkcyan;
    width: 100%;
    align-self: flex-end;
}

.screen-container {
    border: 3px groove yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    width:100%;
}

.container {
    display: flex;
    border: 2px dotted red;
}

.box-1 {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.box-4 {
    margin-right: 0;
}

.box {
    width: 208px;
    height: 342px;
    border: 1px dotted dodgerblue;
    justify-content: center;
    margin: 5px;
}

#bolt {
    height: 36px;
    width: 41px;
    max-width: max-content;
    max-height: max-content;
}

/* .box-1 {
    margin-left: 0px;
} */



.box-img {
    height: 176px;
    width: 206px;
    max-width: max-content;
    max-height: max-content;
}

body {
    background-image: url('../../assets/OW.png');
    background-position: center;
    background-size: 100%;
}












/* body {
  background-color: #fefefe;
  text-align: center;
} 

.navbar {
    background: #21374B;
    color: #E7DACB;
    height: 50px;
}

.container {
    text-align: left;
    width: 200px;
    height: 100px;
}

.word {
    font-family:  Helvetica, sans-serif;
}

.descript {
    font-family:  Helvetica, sans-serif;
}

.letter {
    text-align: center;
    font-family:  Helvetica, sans-serif;
    font-size: 180px;
    margin-top: 30px;
} */

